 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Want to take a short break from hanging out with your little friend? Reading Bubby is here to help! We bring you one audiobook for every Monday. Better yet, we teach our little friends one common Chinese phrase with every story. Presently we source materials from the public domain. If you'd like to grant permission for us to read your copyrighted stories, please reach out via the Follow Us section. Don't forget to check out the Coloring Pages section for some fun time together.</p>
                </div>
                <div class="col-lg-4">
                    <p></p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#portfolio" class="btn btn-lg btn-outline">
                        <i class="fa fa-graduation-cap"></i> Start Listening
                    </a>
                </div>
            </div>
        </div>
    </section>
