    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="/img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">FRM Level I</span>
                        <hr class="star-light">
                        <span class="skills">Great job on choosing GARP Financial Risk Manager (FRM) designation as you advance your career. We are glad you embark on this journey with us. Let's get started.</span>
                    </div>
                </div>
                <div class="intro-text">
                    <a href="#portfolio" class="page-scroll btn btn-lg btn-outline">
                        <i class="fa fa-search"></i> See Courses
                    </a>
                </div>
            </div>
        </div>
    </header>
