    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/portfolio/cabin_icon.png" alt="">
                    <div class="intro-text">
                        <span class="name">FRM Level I</span>
                        <hr class="star-light">
                        <span class="skill">We are glad you embark on this journey with us. Scroll down and you will see courses covered during this level.</span>
                    </div>
                </div>
                <div class="intro-text">
                    <a href="#about" class="page-scroll btn btn-lg btn-outline">
                        <i class="fa fa-bullhorn"></i>     Tell Me More
                    </a>
                </div>
            </div>
        </div>
    </header>
