<!-- Footer -->
<section class="success" id="sitemap">
    <footer class="text-center">        
            <div class="container">
                <div class="row">
		    <div class="col-lg-12">
			<h3>Sitemap</h3>
		    </div>
		    <div class="col-lg-3 text-left">
			 <li>
                                <a href="/"><span class="text-muted">Home & About</span></a>
                         </li>
			 
			 <li>
                                <a href="/frm-part-i"><span class="text-white">FRM Part I</span></a>
                         </li>
			 <li>
                                <a href="/frm-part-ii"><span class="text-white">FRM Part II</span></a>
                         </li>
			 <li class="text-danger">
                                <a href="/"><span class="text-white">BA II Plus Calculator</span></a> (coming soon)
                         </li>
			 <li>
                                <a href="/subscribe"><span class="text-white">Subscribe</span></a>
                         </li>
		    </div>
		    <div class="col-lg-3 text-left">
			 <h6>FRM Part I</h6>
			 <li>
                                <a href="/foundations-of-risk-management"><span class="text-white">  Course I: Foundations of Risk Management</span></a>
                         </li>
			 <li class="text-danger">
                                <a href="/quantitative-analysis"><span class="text-white">Course II: Quantitative Analysis</span></a> (coming soon)
                         </li>
			 <li class="text-danger">
                                <a href="/financial-markets-and-products"><span class="text-white">Course III: Financial Markets and Products</span></a> (coming soon)
                         </li>
			 <li class="text-danger">
                                <a href="/valuation-and-risk-models"><span class="text-white">Course IV: Valuation and Risk Models</span></a> (coming soon)
                         </li>
		    </div>
		    <div class="col-lg-3 text-left">
			 <h6>FRM Part II</h6>
			 <li class="text-danger">
                                <a href=""><span class="text-white">  Course I: Market Risk Measurement and Management</span></a> (coming soon)
                         </li>
			 <li class="text-danger">
                                <a href=""><span class="text-white">  Course II: Credit Risk Measurement and Management</span></a> (coming soon)
                         </li>
			 <li class="text-danger">
                                <a href=""><span class="text-white">  Course III: Operational and Integrated Risk Management</span></a> (coming soon)
                         </li>
			 <li class="text-danger">
                                <a href=""><span class="text-white">  Course IV: Risk Management and Investment Management</span></a> (coming soon)
                         </li>
		    </div>
		    <div class="col-lg-3 text-left">
			 <h6>BA II Plus Calculator</h6>
		    </div>
                </div>
            </div>
    </footer>
</section>
