 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>The Little Red Hen</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/{{ site.baseurl }}" class="btn btn-sm btn-outline">
                        <i class="fa fa-arrow-circle-left"></i> Prev
                    </a>
                    <a href="/{{ site.baseurl }}/the-conflict-of-risk-and-reward" class="btn btn-sm btn-outline">Next
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                    <p> </p>
                </div>
                <div class="col-lg-10">
                    <p>{% include youtube.html id="2tz0bC2P5ic" %}</p>
                    <p>This episode is adapted from The Little Red Hen. Also available for free on: 
                    <a href="https://anchor.fm/readingbuddy"><span class="bg-success text-primary">Anchor | Spotify | Apple Podcast | Amazon Music | iHeartRadio | Pocket Casts</span>
                    </a>
                    </p>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/{{ site.baseurl }}" class="btn btn-sm btn-outline">
                        <i class="fa fa-arrow-circle-left"></i> Prev
                    </a>
                    <a href="/{{ site.baseurl }}/the-conflict-of-risk-and-reward" class="btn btn-sm btn-outline">Next
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                    <p> </p>
                </div>
             </div>
        </div>
    </section>
